$_white: #ffffff;
$_black: #000000;
$_pink: #ffa3cf;
$_orange: #ffce94;
$_green: #c8ff9d;
$_anakiwa: #a0fff9;
$_gray: #e4e7ec;

// labels
$label_urgent: $_pink;
$label_bug: $_orange;
$label_feature: $_green;
$label_enhancement: $_anakiwa;

// layout
$sidebar: $_white;
$content: $_gray;
