$spacing_025: 0.25rem;
$spacing_05: 0.5rem;
$spacing_075: 0.75rem;
$spacing_1: 1rem;
$spacing_125: 1.25rem;
$spacing_15: 1.5rem;
$spacing_175: 1.75rem;
$spacing_2: 2rem;
$spacing_225: 2.25rem;
$spacing_25: 2.5rem;
$spacing_275: 2.75rem;
$spacing_3: 3rem;
$spacing_325: 3.25rem;
$spacing_35: 3.5rem;
$spacing_375: 3.75rem;
$spacing_4: 4rem;
$spacing_425: 4.25rem;
$spacing_45: 4.5rem;
$spacing_475: 4.75rem;
$spacing_5: 5rem;
$spacing_525: 5.25rem;
$spacing_55: 5.5rem;
$spacing_575: 5.75rem;
$spacing_6: 6rem;
$spacing_625: 6.25rem;
$spacing_65: 6.5rem;
$spacing_675: 6.75rem;
$spacing_7: 7rem;
$spacing_725: 7.25rem;
$spacing_75: 7.5rem;
$spacing_775: 7.75rem;
$spacing_8: 8rem;
$spacing_825: 8.25rem;
$spacing_85: 8.5rem;
$spacing_875: 8.75rem;
$spacing_9: 9rem;
$spacing_925: 9.25rem;
$spacing_95: 9.5rem;
$spacing_975: 9.75rem;
$spacing_10: 10rem;
$spacing_105: 10.5rem;
$spacing_11: 11rem;
$spacing_115: 11.5rem;
$spacing_12: 12rem;
$spacing_125: 12.5rem;
$spacing_13: 13rem;
$spacing_135: 13.5rem;
$spacing_14: 14rem;
$spacing_145: 14.5rem;
$spacing_15: 15rem;
$spacing_155: 15.5rem;
$spacing_16: 16rem;
$spacing_165: 16.5rem;
$spacing_17: 17rem;
$spacing_175: 17.5rem;
$spacing_18: 18rem;
$spacing_185: 18.5rem;
$spacing_19: 19rem;
$spacing_195: 19.5rem;
$spacing_20: 20rem;